 .u-section-1 {
  background-image: url("images/2015a0203cf44489b17edb480e5af66db42b0619b84bc702bf575a8e4a462d62c8955a5c485b4a39fabcce2b6073ca3b24a8c01e3df38ca871e2f4_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}