 .u-section-1 {
  background-image: url("images/Developing-our-high-value-crops-some-insights-from-an-insider-Manila-Bulletin-Feb9.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 467px;
  margin-top: 115px;
  margin-bottom: 115px;
}