 .u-section-1 {
  background-image: url("images/2df7a2e4780ee2650286060372277677ed748a0d138625d0d18a14c265d4cc82f23f169eaca3b5a0f60553f5750d026ac4bfbb8e71ac61aaed0112_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 406px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }
}