 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/9d13aafb48caccae825406dccde1084000cfe0b55f51f3baccba857e8c36eee8e6725db76d3fc2e0eb8a51d9d7719140091e12d0f99d59a6362645_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 544px;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  text-decoration: underline !important;
  margin: 142px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.55);
  margin: 121px auto 60px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.3572em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 449px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 344px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 258px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 162px;
  }
}